* {
    border-radius: 0 !important;
    font-family: 'Source Sans Pro', sans-serif;
}

html, body {
    height: 100%;
}

/** MENU DE NAVEGAÇÃO **/
/* navbar */
.navbar-default {
    background-color: #2c3e50;
    border-color: #ecf0f1;
}

/* title */
.navbar-default .navbar-brand {
    padding-left: 40px;
    padding-right: 40px;
    color: #e74c3c;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ecf0f1;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #3498db;
}
/** FIM DO MENU DE NAVEGAÇÃO **/

/** MENU DE PERFIL **/
.profile {
    min-height: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #2c3e50;
}

.profile .title {
    text-align: center;
}

.profile .topic, .profile .title {
    color: #2c3e50;
}

.user-data {
    line-height: 2;
}

ul {
    list-style-type: none;
}
/** FIM DO MENU DE PERFIL **/

/** FORM LOGIN **/
/*.form-login {
    position: absolute;
    top: 50%;
    left: 50%;
}*/
/** FIM DO FORM LOGIN **/

h2, h4 {
    color: #e74c3c;
}

.btn-form {
    margin-top: 15px;
}

.bg-danger {
    padding: 20px 30px;
}

.panel, .disciplinas {
    clear: both;
}

.bg-danger {
    background-color: #f4645f;
    color: #fff;
}

/** FOOTER **/
.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -220px; 
}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    height: 220px; 
}

.site-footer {
    text-align: center;
    background-color: #ecf0f1;
    color: #7D7777;
}

.footer-content {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;    
}