* {
    border-radius: 0 !important;
    font-family: 'Source Sans Pro', sans-serif;
}

.bg-danger {
    padding: 20px 30px;
}

.panel, .disciplinas {
    clear: both;
}

.bg-danger {
    background-color: #f4645f;
    color: #fff;
}